input::-webkit-input-placeholder {
  color: black !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: black !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: black !important;
}

input:-ms-input-placeholder {
  color: black !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  font-family: "MuseoModerno", cursive;
  font-weight: 600;
  font-size: larger;
}

.flex_row_space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex_row_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.bg_corner_rect {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
